/* Layout */
body {
    background-color: #594d4d;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4em;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

#header-bg {
    background-image: url("assets/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center; 
} 

#content, #header {
    margin: 0 auto;
    width:80%;
    max-width: 1171px; /* max width of header image */
}


h1 {
    text-align: center;
}

/* Menu/Hours */
ul li span {
    font-weight: bold;
}

#header ul { margin: 0 auto; }

#header a {
    color: #ffffff;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: bold;
}
#header a:hover { text-decoration: underline; }

#header ul > li {
    display: inline-block;
    margin-left: 30px;
    font-size: 1.5em;
}

/* Text */
a {
    color: #ffffff;
}

/* Social */
.social li {
    display: inline-block;
    line-height: 1;
    height: 20px;
    margin: 0 10px;
    background: url(assets/sprites-social_white.png);
    background-size: 114px 20px !important;
    background-repeat: no-repeat;
}

.social li a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -1000em;
}

.social li.facebook {
    background-position: 0 0;
    width: 9px;
}

.social li.twitter {
    background-position: -40px 0;
    width: 24px;
}

.social li.instagram {
    background-position: -94px 0;
    width: 20px;
}

ul.social {
    width: 200px;
    margin: 0 auto;
}