body {
    background-color: #4c3c2e;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    line-height: 150%;
}

img#logo {
    height: auto; 
    max-width: 100%; 
} 

#content {
    margin: 0 auto;
    width:80%;
}

h1 {
    text-align: center;
}

/* Menu/Hours */
ul li span {
    font-weight: bold;
}


/* Social */
.social li {
    display: inline-block;
    line-height: 1;
    height: 20px;
    margin: 0 10px;
    background: url(assets/sprites-social_white.png);
    background-size: 114px 20px !important;
    background-repeat: no-repeat;
}

.social li a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -1000em;
}

.social li.facebook {
    background-position: 0 0;
    width: 9px;
}

.social li.twitter {
    background-position: -40px 0;
    width: 24px;
}

.social li.instagram {
    background-position: -94px 0;
    width: 20px;
}

ul.social {
    width: 200px;
    margin: 0 auto;
}